#first{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    border: 2px solid black;
}
input{
    width: 50%;
    /* text-align: center; */
    
}

img{
    
    height: 50%;
    width: 20%;
    
    border: 2px solid black;
}

.search-bar{
    /* display: flex; */
    padding: 20px;
    /* justify-items: end; */
    /* justify-content: center; */
    
}

#second{
    border: 2px solid black;
    max-height: calc(100vh -265px);
    overflow: auto;
    
}

.image-class {
    border: 2px solid black;
}

svg{
    height: 40px;
    width: 40px;
    margin: 20px;
}
.nav-icons{
    border: 2px solid black;

    text-align:right
}


/*pagination  */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.page-btn {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
     background-color: white;
    color: black; 
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.page-btn:hover {
    background-color: #0056b3;
}

.page-btn:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.page-btn.active {
  background-color: blue; /* or your preferred color */
  color: white;
}


.page-numbers {
    display: flex;
    align-items: center;
}

.page-rep.active {
    background-color: blue;
    color: white;
}

/* cart and wishlist icon styling  */
/* Container for icons */
.icon-container {
    position: relative;
    display: inline-block;
  }
  
  /* Icon styling */
  .icon {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  
  .wishlist-icon {
    fill: red;
  }
  
  .cart-icon {
    fill: black;
  }
  
  /* Counter styling */
  .icon-counter {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .pagination-container{
    display: flex;
    justify-content: space-between;
  }
  .offset{
    margin-top: 20px;
    margin-left: 20px;
  }